<div class="wrapper">
    <div class="box">
        <div class="row">
            <div class="column col-sm-6 hidden-xs">
            </div>
            <div class="column col-sm-6" id="main">
                    <div class="full col-sm-8">
                        <div class="row">    
                          <h1 class="text-center">SUPIR TAXI</h1>
                          <hr>
                          <p>
                            Temukan supir favorit untuk memandu perjalanan panjang anda. Akan tersedia di Jakarta, Surabaya, Jogjakarta, & Bali. Coming soon on Android platform.
                          <p>
                           <br>
                           <div class="text-center"><a href="mailto:contact@supirtaxi.com" class="btn btn-default">CONTACT US</a>
                        </div>  </div>
                    </div>
            </div>
        </div>
    </div>
</div>